

ion-list {
  transition: all 1s ease-out;

  ion-input {
    padding-left: 0.5rem;
    font-size: 1rem;
    transition: all 1s ease-out;
    font-family: "Poppins", sans-serif;
  }
}

#title {
  font-size: larger;
  font-weight: bold;
}

ion-footer {
  font-size: large;
  ion-buttons {
    ion-button {
      font-size: larger;
    }
    input {
      font-size: larger;
    }
  }
}

.ionTodo {
  padding-left: 0px !important;
  padding-inline-start: 0px !important;
  // transition: all 0.5s ease-out;
}

ion-item {
  ion-checkbox {
    margin-right: 1rem;
  }
}

ion-img {
  margin: 10px auto;
  > img {
    border-radius: 20px !important;
  }
}

svg.checkbox-icon {
  border-radius: 50px !important;
}
